*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000;
  background-color: #f7f7f7;
  background: radial-gradient(at center, #3498db, #9b59b6);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* should move to SCSS eventually */
  --background-color: #000;
  --effect-background-color: #9b59b6;
  --primary-text-color: #ffffff;
  --active-translate-y: 1px;
  --hover-translate-y: -3px;
  --button-padding: 5px;
  --font-size: 1rem;
  --border-radius: 12px;
  --transition-duration: 1s;
  --linear-gradient-border: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.87),
    rgba(255, 192, 203, 0.15),
    rgba(255, 192, 203, 0.6),
    rgba(255, 192, 203, 1)
  );
}

/* Define the scrollbar styles */
::-webkit-scrollbar {
  width: 0.4em;
  border-radius: 16px;
}

/* Define the scrollbar thumb styles */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  outline: #323232 solid 0.5px;
}

@keyframes float {
  0% {
    filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));

    transform: translatey(-20px);
  }

  100% {
    filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
    transform: translatey(0px);
  }
}
